
<h1>Introduction to the IGDB API:</h1>
<h2>By: Tim Williams</h2>
<br>
<h3>Link to IGDB API Documentation:</h3>
<a href="https://www.igdb.com/api/v1/documentation"></a>
<article>
  <p>This is a nifty how-to guide for learning the Internet Games Data Base API. The primary purpose of this API is to allow
  for various queries to there database and return information based on the query criteria. Most of the queries are GET requests
  and they return information about games, the companies that make them, the franchises that those games may be categorized under,
  and the people involved with making those games.
  </p>
  <p>The following pages will cover not so much how to search for the individual item categories (i.e. Games, franchises, people
  etc.), but instead each section will focus on the different ways that these categories can be queried and displayed as many of them
  are practically identical to each other. But for now, we will start with a brief overview of how to access the api and its components,
  and then discuss what each category is and what kind of JSON objects that they can return.
  </p>
  <br>
  <section>
    <h3>API Key:</h3>
    <p>
      In order to get access to any of the API features, you must first request an API key from the website. It's a pretty straight
      forward process if you go to the link provided above and follow these steps:
      <li>If you have not done so already, you can go ahead and make your own account with the website.</li>
      <li>From the main documentation page, you'll want to locate the "manage api keys" link in the top left.</li>
      <li>Once you have an account, you should be taken to the screen where you'll see a link to request and API Key.</li>
      <li>On this next page, just provide the info below (i.e. what domains will you use, how will you use the api etc.).</li>
      <li>Submit the form and wait for the key to be approved, this can take about a day or so.</li>
      <li>Once you have been approved, the key will be listed the next time you select "manage api keys".</li>
    </p>
  </section>
  
</article>


