
<h1>Introduction to the IGDB API:</h1>
<h2>By: Tim Williams</h2>
<br>
<article>
  <p>This is a nifty how-to guide for learning the Internet Games Data Base API. The primary purpose of this API is to allow
  for various queries to there database and return information based on the query criteria. Most of the queries are GET requests
  and they return information about games, the companies that make them, the franchises that those games may be categorized under,
  and the people involved with making those games.
  </p>
  <p>The following pages will cover not so much how to search for the individual item categories (i.e. Games, franchises, people
  etc.), but instead each section will focus on the different ways that these categories can be queried and displayed as many of them
  are practically identical to each other. But for now, we will start with a brief overview of how to access the api and its components,
  and then discuss what each category is and what kind of JSON objects that they can return.
  </p>
  <br>
  <section>
    <h3>API Key:</h3>
    <p>
      ////Start back up here!
    </p>
  </section>
  
</article>
