<h1>GET Request Category Types</h1>
<br>
<article>
  <p>On this page we are going to discuss the different kinds of GET Requests that you can make with this api, what kinds of categories
  they fit under, and what type of data it can return. There are a total of five categories of GET requests: Games, Companies, People,
  Franchises, and Platforms. Each category covers all kinds of relevent data to specific video games, and the companies and individuals 
  who design and distribute those games. We'll primarily cover the kinds of information that is returned in the JSON object, but we will
  also discuss briefly the different types of GET requests that can be made in each category, and cover them in greater detail later in
  the guide.</p>
  <section>
    <h3>Games:</h3>
  </section>
</article>
<span>
  <a href="http://52.25.239.188:3000/"><--Previous Page<--</a> <a href="https://www.igdb.com/api/v1/documentation">-->Next Page--></a>
</span>
